/* Style untuk mengatur jenis font pada seluruh halaman */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Elemen selector tag body untuk mengatur margin dan warna background */
body {
    margin: 0;
    background-color: black;
}

/* Class untuk mengatur gambar background */
.background {
    background-image: url(./img/Games.jpg);
    background-size: 1520px 800px;
    background-repeat: no-repeat;
}

/* Class untuk mengatur warna navigasi bar */
.navbar {
    background-color: black;
}

/* Class untuk mengatur tampilan isi navigasi bar pada tag a dan class .buttonKanan */
.navbar a, .buttonKanan {
    float: right;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

/* Class untuk mengatur tampilan isi navigasi bar pada tag h2 */
.navbar h2 {
    float: left;
    color: white;
    padding: 0 10px;
    font-size: 20px;
}

/* Style untuk mengatur warna pada saat kursor diarahkan ke menu - menu pada navigasi bar */
.navbar a:hover {
    border-radius: 10px;
    color: black;
    background-color: white;
}

/* Elemen selector tag button untuk mengatur tampilan ikon */
button {
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 15px 0;
    border: none;
    background-color: transparent;
}

/* Class untuk mengatur jarak dan warna text pada bagian konten home */
.home {
    margin-top: 100px;
    color: white;
    text-align: center;
}

/* Elemen selector tag h1 untuk mengatur ukuran font */
h1 {
    font-size: 60px;
}

/* Elemen selector tag h2 untuk mengatur ukuran font */
h2 {
    font-size: 30px;
}

/* Elemen selector tag h3 untuk mengatur ukuran font */
h3 {
    font-size: 20px;
}

/* Elemen selector tag img untuk mengatur lengkungan siku gambar */
img {
    border-radius: 15px;
}

/* Elemen selector tag table untuk mengatur lebar */
table {
    width: 100%;
}

/* Class untuk mengatur lebar dan jarak pada bagian popular games dan top upcoming games */
.isiTabel {
    width: 33%;
    padding-top: 20px;
}

/* Elemen selector tag a untuk mengatur warna text kategori berita */
a {
    color: white;
    text-decoration: none;
}

/* Elemen selector tag a untuk mengatur warna text pada saat kursor diarahkan ke kategori berita */
a:hover {
    color: royalblue;
}

/* Elemen selector tag footer untuk mengatur tampilan footer */
footer{
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 100px;
}

/* Class untuk mengatur jarak, warna background, lengkungan siku pada bagian konten daftar berita */
.halamanDaftar {
    margin-right: 10%;
    margin-left: 10%;
    background-color: whitesmoke;
    border-radius: 15px;
}

/* Class untuk mengatur jarak dari dalam pada bagian daftar berita */
.daftarBerita {
    padding: 20px;
}

/* Class untuk mengatur jarak antara gambar dengan judul berita */
.jarakJudul {
    margin-left: 20px;
}

/* Class untuk mengatur jarak antar berita */
.jarakBaris {
    padding-top: 50px;
}

/* Style untuk mengatur warna text judul berita */
.halamanDaftar a {
    color: black;
    text-decoration: none;
}

/* Style untuk mengatur warna text pada saat kursor diarahkan ke judul berita */
.halamanDaftar a:hover {
    color: royalblue;
}

/* Class untuk Bagian konten berita */
.Berita {
    margin-right: 20%;
    margin-left: 20%;
    background-color: whitesmoke;
    border-radius: 15px;
}

/* Class untuk mengatur posisi text agar berada di tengah */
.textTengah {
    text-align: center;
}

/* Elemen selector tag article untuk mengatur jarak, line-spacing, dan posisi font */
article {
    padding: 50px;
    line-height: 1.5;
    text-align: justify;
}

/* Elemen selector tag p untuk mengatur ukuran font */
p {
    font-size: 20px;
}

/* Style untuk mengatur tampilan button submit pada kolom komentar */
.kolomKomentar button {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
}

/* Style untuk mengatur tampilan button submit pada kolom komentar pada saat kursor diarahkan ke tombol submit */
.kolomKomentar button:hover {
    color: grey;
}

